body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.orange-color{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.half-widht{
    width: 90%;
    padding-left: 10%;
}
.half-widht img{
    width: 100%;
}
.hire-button{
    text-decoration: none;
    background-image: linear-gradient(yellow, blue);
    color: white;
    padding: 10px 40px;
    border-radius: 5px;
}
.first-section{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    padding: 20px;

}
.second-section{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.second-div{
    width: 90%;
    padding: 5%;
}
.second-div img{
    width: 100%;
}
.experience-tiem{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 15px;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}