body{
    font-family: 'Poppins', sans-serif;
    margin: 30px;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
section{
    display: flex;
}
.half-widht{
    width: 90%;
    padding-left: 10%;
}
.half-widht img{
    width: 100%;
}